*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(60deg, rgba(255, 0, 0, 0.45), rgba(0, 128, 0, 0.46), rgba(0, 0, 255, 0.34), rgba(255, 255, 0, 0.49));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*overflow: scroll;*/
}

#game_container{
    height: 85vh;
    width:85vh;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top:-80px;
}
.vertically_stacked_containers{
    height:40%;
    width:100%;
    display: flex;
}
.vertically_stacked_container_mid{
    height:20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.player_containers{
    height:100%;
    width:40%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.resting_points{
    width:35%;
    height:35%;
    border-radius: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playing_lines{
    width:6.6666%;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.winning_lines{
    width:6.6666%;
    display: flex;
    flex-direction: column;
}
.mid_lines{
    width:40%;
    height:100%;
}
.playing_lines_mid{
    width:100%;
    height:33%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.winning_lines_mid{
    width:100%;
    height:33%;
    display: flex;
    flex-direction: row;
}
.winning_portion{
    background: linear-gradient(150deg, red,green,blue,yellow);
    height:100%;
    width:20%;
}

#red_player_container{
    background: rgb(210, 4, 4);
}
#green_player_container{
    background-color: #04b404;
}
#blue_player_container{
    background: rgb(7, 91, 250);
}
#yellow_player_container{
    background-color: #dae106;
}
#winning_container_image{
    width: 100%;
    height: 100%;
}

#yellow_winning_line{
    background-color: #dae106;
}
#green_winning_line{
    background-color: #04b404;
}
#blue_winning_line{
    background-color: rgb(7, 91, 250);
}
#red_winning_line{
    background-color: rgb(210, 4, 4);
}

.movable_line, .movable_line_winning{
    border: solid black 1px;
    height:16.66%;
    width:100%;
}
.movable_line_mid, .movable_line_winning_mid{
    border: solid black 1px;
    width:16.66%;
    height:100%;
}


.dice_player_section{
    margin-top: 20px;
    margin-bottom: -90px;
    width:50%;
    height: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background: linear-gradient(60deg, rgba(37, 3, 3, 0.49), rgba(7, 31, 7, 0.55), rgba(7, 7, 56, 0.52), rgba(49, 49, 13, 0.51));
}

#dice{
    width: 60px;
    height: 60px;
    background-color: #caf5cc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: ease-in-out all .3s;
}
#dice_output{
    color: #121623;
    font-weight: bolder;
    font-size: 30px;
}
#current_player{
    height: 60px;
    width:60px;
    background-color: rgb(7, 91, 250);
    box-shadow: 0 5px 7px #000000;
    border-radius: 50%;
}

.mover{
    width: 25%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.mover_img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
/* specific locations coloring*/
#l51, #l12, #l25, #l38{
    background-color: white;
}

#l1{
    background-color: rgb(210, 4, 4);
}
#l14{
    background-color: #04b404;
}
#l27{
    background-color: #dae106;
}
#l40{
    background-color: rgb(7, 91, 250);
}